@import './variables';

.landing-item {
  @extend %clear-fix;

  height: 15em;
}

.left-poster {
  @extend %clear-fix;

  background-repeat: no-repeat;
  background-size: 185px auto;
  height: 14em;
  width: 185px;
}