//= Colors



//= Font
$kerning: 0.024em;
$font-size: 1.05em;
$font-family: sans-serif;

%clear-fix {
  clear: both;
  content: '';
  display: block;
}

%center {
  left: 50%;
  transform: translate(-50%, 50%);
}